parameters:
	excludePaths:
		# Contains an error that is impossible to ignore
		- Tests/IntegrationTest.php

	ignoreErrors:
		-
			message: "#^Call to an undefined static method Doctrine\\\\Bundle\\\\FixturesBundle\\\\Loader\\\\SymfonyBridgeLoader\\:\\:addFixture\\(\\)\\.$#"
			count: 1
			path: Loader/SymfonyFixturesLoader.php

		-
			message: "#^Call to an undefined static method Doctrine\\\\Bundle\\\\FixturesBundle\\\\Loader\\\\SymfonyBridgeLoader\\:\\:getFixtures\\(\\)\\.$#"
			count: 1
			path: Loader/SymfonyFixturesLoader.php

		-
			message: "#^Class Doctrine\\\\Bundle\\\\FixturesBundle\\\\Loader\\\\SymfonyFixturesLoader does not have a constructor and must be instantiated without any parameters\\.$#"
			count: 2
			path: Tests/Command/LoadDataFixturesDoctrineCommandTest.php

		-
			message: "#^Constructor of class Doctrine\\\\Bundle\\\\FixturesBundle\\\\Tests\\\\Fixtures\\\\FooBundle\\\\DataFixtures\\\\RequiredConstructorArgsFixtures has an unused parameter \\$fooRequiredArg\\.$#"
			count: 1
			path: Tests/Fixtures/FooBundle/DataFixtures/RequiredConstructorArgsFixtures.php

